{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/michael.lamb.501598/"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/mikelamb01/"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/LambsCode"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/michael-lamb-1b429925a/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/LambXcode"><img src="{% static 'images/github-mark.png' %}" alt="..."></a></li>
        <li><a href="https://replit.com/@LambCodeBlock"><img src="{% static 'images/replit.png' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://github.com/LambXcode" target="_blank">Michael Lamb</a></p>
        <a href="/admin/login/">Admin Portal</a>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->